@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

#root {
    font-family: "Roboto", sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.flex33Percent {
    background-color: aliceblue !important;
}


.info-button {
    top: 0 !important;
    background-color: transparent !important;
    color: black;
}

.info-button.center-icon {
    top: unset !important;
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-button.center-icon  > * {
    transform: scale(2.5) !important;
}

.primary-button {
    background-color: oklch(62.3% .214 259.815) !important;
}

input {
    color: black !important;
}